bin/
obj/
*.user
*.suo
.vs/
TestResults/

node_modules/
dist/
*.local

.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/tasks.json
!.vscode/settings.json

.env
.env.*
appsettings.*.local.json

*.log
npm-debug.log*
.DS_Store
Thumbs.db
desktop.ini